//TODO: figure out how to make this dynamic (for dynamic theme-chaning on-site)
// color scheme

$accent: hsl(0, 0%, 21%);
$accent2: #f0f0f0;
$outline: rgba(0, 0, 0, .2);
$background: #fff;
$text: #4D4D4D;
$title: #000;

$error-color: #81011e;
$warning-color: rgb(255, 193, 7);
