// used for disabling select, which can get annoying on mobile devices.
// Currently this is only used for disabling selections on the hamburger menu icon (since our menu is CSS-only).
@mixin disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

$accent: hsl(0, 0%, 21%);
$accent2: #f0f0f0;
$code-color: #e8e8e8;
$outline: rgba(0, 0, 0, .2);
$background: #fff;
$text: #4D4D4D;
$title: #000;

$error-color: #81011e;
$warning-color: rgb(255, 193, 7);

$article-width: 800px;
