[package]
name = "rune-cli"
version = "0.10.2"
authors = ["John-John Tedro <udoprog@tedro.se>"]
license = "MIT/Apache-2.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/rune-rs/rune"
homepage = "https://github.com/rune-rs/rune"
documentation = "https://docs.rs/rune-cli"
keywords = ["language", "scripting"]
categories = []
description = """
An interpreter for Rune, an embeddable dynamic programming language for Rust. 
"""

[dependencies]
bincode = "1.3.3"
atty = "0.2.14"
log = "0.4.14"
env_logger = "0.9.0"
tokio = { version = "1.14.0", features = ["rt-multi-thread", "net", "fs", "macros"] }
codespan-reporting = "0.11.1"
anyhow = { version = "1.0.49", features = ["std"] }
structopt = { version = "0.3.25", default-features = false, features = ["wrap_help", "suggestions", "color"] }

rune = {version = "0.10.2", path = "../rune"}
rune-modules = {version = "0.10.2", path = "../rune-modules", features = ["full", "experiments", "capture-io"]}

[build-dependencies]
anyhow = "1.0.49"

[[bin]]
name = "rune"
path = "src/main.rs"
