[package]
name = "rune-cli"
version = "0.6.16"
authors = ["John-John Tedro <udoprog@tedro.se>"]
license = "MIT/Apache-2.0"
edition = "2018"
readme = "README.md"
repository = "https://github.com/rune-rs/rune"
homepage = "https://github.com/rune-rs/rune"
documentation = "https://docs.rs/rune-cli"
keywords = ["language", "scripting"]
categories = []
description = """
An interpreter for Rune, an embeddable dynamic programming language for Rust. 
"""

[dependencies]
log = "0.4.11"
env_logger = "0.7.1"
tokio = {version = "0.2.22", features = ["rt-core", "net", "fs", "macros"]}
codespan-reporting = "0.9.5"
anyhow = "1.0.32"
bincode = "1.3.1"
structopt = {version = "0.3.17", default-features = false, features = ["wrap_help", "suggestions", "color"]}

rune = {version = "0.6.16", path = "../rune", features = ["modules"]}
rune-macros = {version = "0.6.16", path = "../rune-macros"}
runestick = {version = "0.6.16", path = "../runestick"}

[build-dependencies]
anyhow = "1.0.32"

[[bin]]
name = "rune"
path = "src/main.rs"