[package]
name = "rune-cli"
version = "0.12.1"
authors = ["John-John Tedro <udoprog@tedro.se>"]
edition = "2021"
rust-version = "1.63"
description = """
An interpreter for the Rune Language, an embeddable dynamic programming language for Rust. 
"""
documentation = "https://docs.rs/rune"
readme = "README.md"
homepage = "https://github.com/rune-rs/rune"
repository = "https://github.com/rune-rs/rune"
license = "MIT/Apache-2.0"
keywords = ["language", "scripting", "scripting-language"]
categories = ["parser-implementations"]

[dependencies]
bincode = "1.3.3"
atty = "0.2.14"
tracing = "0.1.29"
tracing-subscriber = { version = "0.3.3", features = ["env-filter"] }
tokio = { version = "1.14.0", features = ["rt-multi-thread", "net", "fs", "macros"] }
codespan-reporting = "0.11.1"
anyhow = { version = "1.0.49", features = ["std"] }
structopt = { version = "0.3.25", default-features = false, features = ["wrap_help", "suggestions", "color"] }

rune = { version = "0.12.1", path = "../rune", features = ["workspace"] }
rune-modules = { version = "0.12.1", path = "../rune-modules", features = ["full", "experiments", "capture-io"] }

[build-dependencies]
anyhow = "1.0.49"

[[bin]]
name = "rune"
path = "src/main.rs"
