{{#> layout}}
<div class="title-wrapper"><h3 class="title">Macro {{literal module}}::<span class="macro">{{name}}!</span>(..)</h3><a class="overview" href="{{literal root_index}}">Overview</a></div>
{{#if doc}}{{literal doc}}{{/if}}
{{/layout}}
