[package]
name = "rune-wasm"
version = "0.8.0"
authors = ["John-John Tedro <udoprog@tedro.se>"]
license = "MIT/Apache-2.0"
edition = "2018"
readme = "README.md"
repository = "https://github.com/rune-rs/rune"
homepage = "https://github.com/rune-rs/rune"
documentation = "https://docs.rs/rune-cli"
keywords = ["language", "scripting"]
categories = []
description = """
A WASM module for Rune, an embeddable dynamic programming language for Rust. 
"""

[dependencies]
serde = { version = "1.0.117", features = ["derive"] }
wasm-bindgen = { version = "0.2.69", features = ["serde-serialize"] }
wasm-bindgen-futures = "0.4.19"
js-sys = "0.3.46"
anyhow = "1.0.34"
lazy_static = "1.4.0"
parking_lot = { version = "0.11.1", features = ["wasm-bindgen"] }

rune = {version = "0.8.0", path = "../rune", features = []}
rune-macros = {version = "0.8.0", path = "../rune-macros"}
rune-modules = {version = "0.8.0", path = "../rune-modules", features = ["core", "test", "json", "toml", "rand", "experiments", "macros"]}
runestick = {version = "0.8.0", path = "../runestick"}

[dependencies.web-sys]
version = "0.3.46"
features = ["Request", "Response", "Window", "RequestInit", "RequestMode"]

[lib]
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"

[package.metadata.wasm-pack.profile.release]
# Note: doesn't work
wasm-opt = false
