[package]
name = "rune-wasm"
version = "0.11.0"
authors = ["John-John Tedro <udoprog@tedro.se>"]
license = "MIT/Apache-2.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/rune-rs/rune"
homepage = "https://github.com/rune-rs/rune"
documentation = "https://docs.rs/rune-cli"
keywords = ["language", "scripting"]
categories = []
description = """
A WASM module for Rune, an embeddable dynamic programming language for Rust. 
"""

[dependencies]
serde = { version = "1.0.130", features = ["derive"] }
wasm-bindgen = { version = "0.2.78", features = ["serde-serialize"] }
wasm-bindgen-futures = "0.4.28"
js-sys = "0.3.55"
anyhow = "1.0.49"

rune = {version = "0.11.0", path = "../rune", features = []}
rune-macros = {version = "0.11.0", path = "../rune-macros"}
rune-modules = {version = "0.11.0", path = "../rune-modules", features = ["core", "test", "json", "toml", "rand", "experiments", "macros", "capture-io", "wasm-bindgen"]}

[dependencies.web-sys]
version = "0.3.55"
features = ["Request", "Response", "Window", "RequestInit", "RequestMode"]

[lib]
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"

[package.metadata.wasm-pack.profile.release]
# Note: doesn't work
wasm-opt = false
