name: CI

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt
    - run: cargo fmt --all -- --check

  runefmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo run --bin rune -- fmt --experimental --recursive --verbose --workspace --check tools scripts

  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@1.71
      with:
        components: clippy
    - uses: Swatinem/rust-cache@v2
    - run: cargo clippy --workspace --exclude no-std-examples --exclude generate --all-features --all-targets -- -D warnings

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@nightly
    - uses: Swatinem/rust-cache@v2
    - run: cargo doc -p rune
      env:
        RUSTFLAGS: --cfg docsrs
        RUSTDOCFLAGS: --cfg docsrs

  basics:
    runs-on: ubuntu-latest
    needs:
    - rustfmt
    - clippy
    - docs
    steps:
    - run: exit 0

  msrv:
    runs-on: ubuntu-latest
    needs: basics
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@1.67
    - uses: Swatinem/rust-cache@v2
    - run: cargo build --workspace

  miri:
    runs-on: ubuntu-latest
    needs: basics
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@nightly
      with:
        components: miri
    - uses: Swatinem/rust-cache@v2
    - run: cargo +nightly miri test -p rune --all-features -- runtime hir::arena

  no_default_features:
    runs-on: ubuntu-latest
    needs: basics
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
    - run: cargo build -p rune --no-default-features --features alloc

  build_feature:
    runs-on: ubuntu-latest
    needs: basics
    strategy:
      fail-fast: false
      matrix:
        feature: [capture-io, doc, fmt, cli, workspace, byte-code]
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
    - run: cargo build -p rune --no-default-features --features ${{matrix.feature}}

  wasm:
    runs-on: ubuntu-latest
    needs: basics
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: wasm32-unknown-unknown
    - uses: Swatinem/rust-cache@v2
    - run: cargo build -p rune-wasm --target wasm32-unknown-unknown

  test:
    runs-on: ubuntu-latest
    needs: [no_default_features, build_feature, docs, msrv, wasm]
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
    - run: cargo build -p rune --no-default-features --features alloc
    - run: cargo test --workspace --exclude no-std-examples --all-targets
    - run: cargo test --workspace --exclude no-std-examples --doc
    - run: cargo run --bin rune -- check --recursive --experimental scripts
    - run: cargo run --bin rune -- test --recursive --experimental scripts --opt include-std
