[package]
name = "rune"
version = "0.8.0"
authors = ["John-John Tedro <udoprog@tedro.se>"]
license = "MIT/Apache-2.0"
edition = "2018"
readme = "README.md"
repository = "https://github.com/rune-rs/rune"
homepage = "https://github.com/rune-rs/rune"
documentation = "https://docs.rs/rune"
keywords = ["language", "scripting"]
categories = []
description = """
An embeddable dynamic programming language for Rust. 
"""

[features]
default = ["diagnostics"]
diagnostics = ["codespan-reporting"]

[dependencies]
thiserror = "1.0.24"
log = "0.4.14"
codespan-reporting = { version = "0.11.1", optional = true }

hashbrown = "0.9.1"
num = "0.4.0"
itoa = "0.4.7"
ryu = "1.0.5"
smallvec = "1.6.1"

runestick = {version = "0.8.0", path = "../runestick"}
rune-macros = {version = "0.8.0", path = "../rune-macros"}

[target."cfg(compiler_v2)".dependencies]
rune-ssa = {version = "0.8.0", path = "../rune-ssa"}

[dev-dependencies]
tokio = { version = "1.2.0", features = ["macros"] }

[package.metadata.docs.rs]
all-features = true
