[package]
name = "rune"
version = "0.6.16"
authors = ["John-John Tedro <udoprog@tedro.se>"]
license = "MIT/Apache-2.0"
edition = "2018"
readme = "README.md"
repository = "https://github.com/rune-rs/rune"
homepage = "https://github.com/rune-rs/rune"
documentation = "https://docs.rs/rune"
keywords = ["language", "scripting"]
categories = []
description = """
An embeddable dynamic programming language for Rust. 
"""

[features]
default = ["diagnostics", "testing"]
diagnostics = ["codespan-reporting"]
testing = ["futures-executor"]

[dependencies]
thiserror = "1.0.20"
log = "0.4.11"
codespan-reporting = {version = "0.9.5", optional = true}
hashbrown = "0.8.2"
num = "0.3.0"
futures-executor = {version = "0.3.5", optional = true}
itoa = "0.4.6"
ryu = "1.0"

runestick = {version = "0.6.16", path = "../runestick"}
rune-macros = {version = "0.6.16", path = "../rune-macros"}

[dev-dependencies]
tokio = {version = "0.2.22", features = ["macros"]}
futures-executor = "0.3.5"

rune-modules = {version = "0.6.16", path = "../rune-modules", features = ["full"]}

[package.metadata.docs.rs]
all-features = true
