[package]
name = "rune"
version = "0.10.0"
authors = ["John-John Tedro <udoprog@tedro.se>"]
license = "MIT/Apache-2.0"
edition = "2018"
readme = "README.md"
repository = "https://github.com/rune-rs/rune"
homepage = "https://github.com/rune-rs/rune"
documentation = "https://docs.rs/rune"
keywords = ["language", "scripting"]
categories = []
description = """
An embeddable dynamic programming language for Rust. 
"""

[features]
default = ["emit"]
emit = ["codespan-reporting"]
bench = []

[dependencies]
thiserror = "1.0.30"
log = "0.4.14"
codespan-reporting = { version = "0.11.1", optional = true }

hashbrown = { version = "0.11.2", features = ["serde"] }
num = "0.4.0"
itoa = "0.4.8"
ryu = "1.0.5"
smallvec = { version = "1.7.0", features = ["write", "serde", "const_new"] }
serde = { version = "1.0.130", features = ["derive", "rc"] }
serde_bytes = "0.11"
byteorder = "1.4.3"
pin-project = "1.0.8"
futures-core = "0.3.17"
futures-util = "0.3.17"
anyhow = "1.0.45"
twox-hash = { version = "1.6.1", default-features = false }
num-bigint = "0.4.3"

rune-macros = {version = "0.10.0", path = "../rune-macros"}

[target."cfg(compiler_v2)".dependencies]
rune-ssa = {version = "0.10.0", path = "../rune-ssa"}

[dev-dependencies]
tokio = { version = "1.13.0", features = ["macros"] }
static_assertions = "1.1.0"
checkers = "0.6.0"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
