[package]
name = "rune"
version = "0.12.3"
authors = ["John-John Tedro <udoprog@tedro.se>"]
edition = "2021"
rust-version = "1.63"
description = "The Rune Language, an embeddable dynamic programming language for Rust."
documentation = "https://docs.rs/rune"
readme = "README.md"
homepage = "https://github.com/rune-rs/rune"
repository = "https://github.com/rune-rs/rune"
license = "MIT/Apache-2.0"
keywords = ["language", "scripting", "scripting-language"]
categories = ["parser-implementations"]

[features]
default = ["emit"]
emit = ["codespan-reporting"]
bench = []
workspace = ["toml", "toml-spanned-value", "semver", "relative-path", "serde-hashkey"]
doc = ["rust-embed", "handlebars", "pulldown-cmark", "syntect"]

[dependencies]
thiserror = "1.0.40"
tracing = "0.1.37"
codespan-reporting = { version = "0.11.1", optional = true }

hashbrown = { version = "0.13.2", features = ["serde"] }
num = "0.4.0"
itoa = "1.0.6"
ryu = "1.0.13"
smallvec = { version = "1.10.0", features = ["write", "serde", "const_new"] }
serde = { version = "1.0.158", features = ["derive", "rc"] }
serde_bytes = "0.11.9"
byteorder = "1.4.3"
pin-project = "1.0.12"
futures-core = "0.3.27"
futures-util = "0.3.27"
anyhow = "1.0.70"
twox-hash = { version = "1.6.3", default-features = false }
num-bigint = "0.4.3"
toml = { version = "0.5.11", optional = true }
toml-spanned-value = { version = "0.1.0", optional = true }
semver = { version = "1.0.17", optional = true, features = ["serde"] }
relative-path = { version = "1.8.0", optional = true, features = ["serde"] }
serde-hashkey = { version = "0.4.5", optional = true }
linked-hash-map = "0.5.6"
pulldown-cmark = { version = "0.9.2", optional = true }
rust-embed = { version = "6.6.0", optional = true }
handlebars = { version = "4.3.6", optional = true }
syntect = { version = "5.0.0", optional = true }

rune-macros = { version = "=0.12.3", path = "../rune-macros" }

[dev-dependencies]
tokio = { version = "1.26.0", features = ["macros"] }
static_assertions = "1.1.0"
checkers = "0.6.3"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
